.Bio {
  display: flex;
  margin-bottom: 4.375rem;
}
  
.Bio img {
  border-radius: 50%;
  flex-shrink: 0;
  height: 3.5rem;
  margin-bottom: 0;
  margin-right: 0.875rem;
  width: 3.5rem;
}

$hexColor: #77F6FD;

body {
  //background: #373940;
}

#backcontainer {
  position: absolute;
  top: 45%;
  left: 52%;
  animation: rotateHue 25s linear infinite;
}

.hexagon {
  position: absolute;
  width: 50px; 
  height: 28.87px;
  background-color: $hexColor;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
}

.hexagon:before {
  bottom: 100%;
  border-bottom: 14.43px solid $hexColor;
}

.hexagon:after {
  top: 100%;
  width: 0;
  border-top: 14.43px solid $hexColor;
}

$radius: 8; //Hex-radius
$width: 54px;
$halfWidth: $width / 2;
$height: 47px;
$halfHeight: $height / 2;
$count: 0;

@for $r from 0 through $radius {
  @for $i from 0 through $r {
    $count: $count + 1;
    .hexagon:nth-child(#{$count}) {
      margin-top: $height * $r;
      margin-left: (($r * $halfWidth * -1)) + ($i * $width) - $halfWidth;
    }
  }
  @for $i from 0 through $r {
    $count: $count + 1;
    .hexagon:nth-child(#{$count}) {
        margin-top:  ($r * $height) - ($i * $height);
        margin-left: ($halfWidth + ($r * $halfWidth)) + ($i * $halfWidth);
    }
  }
  @for $i from 0 through $r {
    $count: $count + 1;
    .hexagon:nth-child(#{$count}) {
        margin-top:  ($height * -1) - ($i * $height);
        margin-left: ($r * $width) - ($i * $halfWidth);
    }
  }
  @for $i from 0 through $r {
    $count: $count + 1;
    .hexagon:nth-child(#{$count}) {
      margin-top: ($r + 1) * $height * -1;
      margin-left: (($r * $halfWidth )) - ($i * $width) - $width;
    }
  }
  @for $i from 0 through $r {
    $count: $count + 1;
    .hexagon:nth-child(#{$count}) {
        margin-top:  (($r) * $height * -1) + ($i * $height);
        margin-left: (($r + 1) * $halfWidth * -1) - ($i * $halfWidth) - $width;
    }
  }
  @for $i from 0 through $r {
    $count: $count + 1;
    @if $i != $r {
      .hexagon:nth-child(#{$count}) {
          margin-top:  ($height * -1) + ($i * $height) + ($height * 2);
          margin-left: ($r * $width * -1) + ($i * $halfWidth) - $width;
 
      }
    } @else {
      $count: $count - 1;
    }
  }
}

@for $r from 0 through $radius {
  .r#{$r} {
    animation-name: pulse;
    animation-duration: 3s; //Pulse speed
    animation-delay: #{$r * .25}s;
    animation-iteration-count: infinite
  }
}

@keyframes pulse {
  0%{
    -webkit-transform: scale(0.01);
    transform: scale(0.01);
  }
  
  50%{
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  
  100%{
    -webkit-transform: scale(0.01);
    transform: scale(0.01);
  }
}

@keyframes rotateHue {
  100% { 
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}